@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-7xl;
  }
  h2 {
    @apply text-base sm:text-lg md:text-lg lg:text-2xl;
  }
  h3 {
    @apply text-sm sm:text-base md:text-base lg:text-xl;
  }

  h4 {
    @apply text-xs sm:text-sm md:text-sm lg:text-lg;
  }

  p {
    @apply text-base whitespace-pre-line;
  }

  a {
  }
  a:hover {
  }

  html {
    /* Firefox and non-webkit browser support */
    scroll-behavior: smooth;
    scrollbar-width: normal;
    scrollbar-color: #081c15 #52b788;
  }

  html::-webkit-scrollbar {
    width: 0.8vw;
  }

  html::-webkit-scrollbar-thumb {
    @apply bg-ocean-green hover:bg-ocean-green-two transition-colors rounded-3xl;
  }

  html::-webkit-scrollbar-track {
    @apply bg-turquoise-green;
  }

  body {
    @apply p-0 m-0 /* bg-turquoise-green */ bg-gradient-to-t from-dark-jungle-green via-ocean-green-two to-nyanza min-h-screen flex flex-col;
  }

  * {
    @apply box-border font-sans;
  }

  summary {
    @apply p-4 block relative;
  }

  summary:before {
    @apply absolute top-5 left-4 border-solid;
    content: "";
    border-width: 0.5rem;
    border-color: transparent transparent transparent #000000;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }
}

@layer components {
  /* Custom */

  .pop-in {
    animation: pop-in 2000ms both cubic-bezier(0.61, -0.02, 0.83, 1.63);
  }

  .pop-in-secondary {
    animation: pop-in 3000ms both cubic-bezier(0.61, -0.02, 0.83, 1.63);
  }

  @keyframes pop-in {
    0% {
      transform: scale(0.6);
    }

    100% {
      transform: scale(1);
    }
  }

  .fade-in-text {
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
  }

  @keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
    
  }

  .hovering-image {
    animation: hovering 8s ease-in-out infinite;
    -webkit-animation: hovering 8s ease-in-out infinite;
    -moz-animation: hovering 8s ease-in-out infinite;
    -o-animation: hovering 8s ease-in-out infinite;
    -ms-animation: hovering 8s ease-in-out infinite;
  }

  @keyframes hovering {
    0% {
      transform: translatey(-16px);
    }

    50% {
      transform: translatey(16px);
    }

    100% {
      transform: translatey(-16px);
    }
  }

  @-moz-keyframes hovering {
    0% {
      transform: translatey(-16px);
    }

    50% {
      transform: translatey(16px);
    }

    100% {
      transform: translatey(-16px);
    }
  }

  @-webkit-keyframes hovering {
    0% {
      transform: translatey(-16px);
    }

    50% {
      transform: translatey(16px);
    }

    100% {
      transform: translatey(-16px);
    }
  }

  @-o-keyframes hovering {
    0% {
      transform: translatey(-16px);
    }

    50% {
      transform: translatey(16px);
    }

    100% {
      transform: translatey(-16px);
    }
  }

  @-ms-keyframes hovering {
    0% {
      transform: translatey(-16px);
    }

    50% {
      transform: translatey(16px);
    }

    100% {
      transform: translatey(-16px);
    }
  }

  .atom-position {
    /* margin-left: 708px; */
    @apply m-auto;
    left: 46.6%;
  }

  .atom-spinner,
  .atom-spinner * {
    @apply box-border;
  }

  .atom-spinner {
    /* @apply h-14 w-14 sm:h-10 sm:w-10 md:h-12 md:w-12 lg:h-14 lg:w-14; */
    @apply w-10 h-10 overflow-hidden;
  }

  @media screen(sm) {
    .atom-spinner {
      @apply h-5 w-5;
    }
  }

  @media screen(md) {
    .atom-spinner {
      @apply h-8 w-8;
    }
  }

  @media screen(lg) {
    .atom-spinner {
      @apply h-10 w-10;
    }
  }

  .atom-spinner .spinner-inner {
    @apply relative block h-full w-full;
  }

  .atom-spinner .spinner-circle {
    @apply text-brunswick-green block absolute top-1/2 left-1/2;
    font-size: calc(60px * 0.24);
    transform: translate(-50%, -50%);
  }

  .atom-spinner .spinner-line {
    @apply border-brunswick-green absolute w-full h-full;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
  }

  .atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  }

  @keyframes atom-spinner-animation-1 {
    100% {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-2 {
    100% {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-3 {
    100% {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
  }
  /* Revisit .section's responsive design */
  /* Section is for the section containers in the page */

  .section {
    @apply w-auto h-auto p-5 sm:px-14 md:px-28 lg:px-28 xl:px-56 2xl:px-96 sm:py-8 md:py-12 lg:py-14 xl:py-28 2xl:py-48;
  }
  .header-links {
    @apply w-auto h-auto align-middle text-ocean-green-two motion-safe:animate-pulse hover:text-turquoise-green transition-colors;
  }
  .next-button {
    @apply border-2 border-black bg-black px-5 py-2 text-ocean-green-two rounded-md hover:bg-turquoise-green hover:text-black;
  }

  .banner-name-text {
    @apply font-extrabold text-3xl sm:text-4xl md:text-5xl lg:text-7xl;
  }

  .sub-header {
    @apply bg-ocean-green bg-gradient-to-r from-ocean-green to-turquoise-green-two p-2 rounded-lg;
  }

  /* Revisit .card's responsive design */
  .card {
    @apply bg-turquoise-green-two p-8 rounded-2xl shadow-3xl;
  }

  /* Credit: https://codepen.io/dig-lopes/pen/WLVGda */
  .icon {
    /* @apply bg-turquoise-green; */
    border-radius: 50%;
    color: #666;
    transition: 0.5s;
  }

  .icon::before {
    @apply w-full h-full scale-90;
    content: "";
    border-radius: 50%;
    background: #40916c;
    transition: 0.5s;
    z-index: -1;
  }

  .icon:hover::before {
    @apply scale-125;
    box-shadow: 0 0 15px #40916c;
  }

  .icon:hover {
    color: #40916c;
    box-shadow: 0 0 5px #40916c;
    text-shadow: 0 0 5px #40916c;
  }

  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    isibility: hidden;
    transition: opacity 0.2s ease-out, transform 0.6s ease-out;
    will-change: opacity, visibility;
  }

  .fade-in-section.is-visible {
    @apply opacity-100 transform-none visible flex;
  }
}

@layer utilities {
}
