@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
  }

  @font-face {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
  }

  @font-face {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
  }

  @font-face {
    font-family: 'Glegoo', serif;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Glegoo', serif;
    font-weight: 700;
  }

  body {
    @apply p-0 m-0 /* bg-gradient-to-t from-ocean-green-two via-nyanza to-white min-h-screen */ bg-green-dark-jungle-green text-green-nyanza flex flex-col;
  }

  #__next {
    @apply p-0 m-0 flex flex-col min-h-screen;
  }

  * {
    @apply box-border font-serif;
  }

  h1 {
    @apply font-sans text-4xl;
    @apply sm:text-5xl;
    @apply md:text-5xl;
    @apply lg:text-6xl;
    @apply xl:text-7xl;
    @apply 2xl:text-9xl;
  }

  h2 {
    @apply font-sans text-xl;
    @apply sm:text-2xl;
    @apply md:text-3xl;
    @apply lg:text-4xl;
    @apply xl:text-5xl;
    @apply 2xl:text-6xl;
  }
  h3 {
    @apply font-sans text-lg;
    @apply sm:text-lg;
    @apply md:text-xl;
    @apply lg:text-2xl;
    @apply xl:text-3xl;
    @apply 2xl:text-4xl;
  }

  h4,
  summary {
    @apply font-sans text-base;
    @apply sm:text-base;
    @apply md:text-lg;
    @apply lg:text-xl;
    @apply xl:text-2xl;
    @apply 2xl:text-3xl;
  }

  h5 {
    @apply text-sm;
    @apply sm:text-sm;
    @apply md:text-base;
    @apply lg:text-lg;
    @apply xl:text-xl;
    @apply 2xl:text-2xl;
  }

  h6 {
    @apply text-xs;
    @apply sm:text-xs;
    @apply md:text-sm;
    @apply lg:text-base;
    @apply xl:text-lg;
    @apply 2xl:text-xl;
  }

  p {
    @apply text-sm whitespace-pre-line;
    @apply sm:text-base;
    @apply md:text-base;
    @apply lg:text-lg;
    @apply xl:text-xl;
    @apply 2xl:text-2xl;
  }

  /* For Devicon (skill icons) */
  i {
    @apply text-4xl text-green-turquoise-green-two;
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }

  figcaption {
    @apply text-sm sm:text-base md:text-base lg:text-lg xl:text-xl 2xl:text-3xl;
  }

  button {
    @apply text-sm;
    @apply sm:text-base;
    @apply md:text-base;
    @apply lg:text-xl;
    @apply xl:text-xl;
    @apply 2xl:text-2xl;
  }

  html {
    /* Firefox and non-webkit browser support */
    scroll-behavior: smooth;
    scrollbar-width: normal;
    scrollbar-color: #081c15 #52b788;
  }

  html::-webkit-scrollbar {
    width: 0.8vw;
  }

  html::-webkit-scrollbar-thumb {
    @apply bg-green-illuminating-emerald hover:bg-green-bottle-green transition-colors rounded-3xl;
  }

  html::-webkit-scrollbar-track {
    @apply bg-green-dark-jungle-green;
  }

  /* For highlighted text colour */
  ::selection {
    @apply bg-green-ocean-green text-black-space-cadet; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    @apply bg-green-medium-spring-green text-black-space-cadet; /* Gecko Browsers */
  }

  summary {
    @apply p-4 block relative;
  }

  summary:before {
    @apply absolute top-5 left-4 border-solid;
    content: "";
    border-width: 0.5rem;
    border-color: transparent transparent transparent #74c69d;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }
}

@layer components {
  .pop-in {
    animation: pop-in 2000ms both cubic-bezier(0.61, -0.02, 0.83, 1.63);
  }

  .pop-in-secondary {
    animation: pop-in 3000ms both cubic-bezier(0.61, -0.02, 0.83, 1.63);
  }

  @keyframes pop-in {
    0% {
      transform: scale(0.6);
    }

    100% {
      transform: scale(1);
    }
  }

  .fade-in-text {
    animation: fadeIn linear 2.5s;
    -webkit-animation: fadeIn linear 2.5s;
    -moz-animation: fadeIn linear 2.5s;
    -o-animation: fadeIn linear 2.5s;
    -ms-animation: fadeIn linear 2.5s;
  }

  @keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      @apply opacity-0;
    }
    100% {
      @apply opacity-100;
    }
  }

  .link {
    @apply inline-block relative;
    text-decoration: none;
  }

  /* Hover link animation credit: https://codepen.io/origine/pen/KVzpYm */

  .hover-link {
    @apply align-middle hover:text-green-illuminating-emerald transition-colors;
  }

  .hover-link::after {
    @apply absolute w-full h-[0.1rem] bottom-0 left-0 bg-green-illuminating-emerald scale-0 origin-bottom-right;
    content: "";
    transition: transform 0.3s;
  }

  .hover-link:hover::after {
    @apply origin-bottom-left scale-100;
  }

  .atom-position {
    @apply m-auto;
    left: 46.6%;
  }

  .atom-spinner,
  .atom-spinner * {
    @apply box-border;
  }

  .atom-spinner {
    @apply w-10 h-10 overflow-hidden;
  }

  /* The animation above the 'i' in the name. May need to optimise this further for other devices */
  .atom-spinner {
    @apply scale-75 -translate-y-1 -translate-x-6;
    @apply sm:scale-90 sm:-translate-x-[1.71rem];
    @apply md:scale-100 md:-translate-x-[1.65rem];
    @apply lg:scale-125 lg:-translate-x-[1.8rem] lg:-translate-y-1;
    @apply xl:scale-150 xl:-translate-x-[1.88rem] xl:translate-y-0;
    @apply 2xl:scale-[2.5] 2xl:-translate-x-[3.05rem] 2xl:translate-y-2;
  }

  .atom-spinner .spinner-inner {
    @apply relative block h-full w-full;
  }

  .atom-spinner .spinner-circle {
    @apply text-gray-pale-silver block absolute top-1/2 left-1/2;
    animation: light-up 2.5s forwards;
    font-size: calc(60px * 0.24);
    transform: translate(-50%, -50%);
  }

  .atom-spinner .spinner-line {
    @apply border-green-medium-spring-green absolute w-full h-full;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
  }

  .atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  }

  @keyframes atom-spinner-animation-1 {
    100% {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-2 {
    100% {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-3 {
    100% {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  /* Reference: https://codepen.io/Steve-H/pen/VqzQZz */

  .text-light-up {
    @apply text-gray-pale-silver;
    animation: light-up 2.5s forwards;
  }

  @keyframes light-up {
    20% {
      @apply text-gray-pale-silver;
      text-shadow: none;
    }
    21% {
      @apply text-green-medium-spring-green;
      text-shadow: 0px 0px 10px #52FFB8;
    }
    23% {
      @apply text-gray-pale-silver;
      text-shadow: none;
    }
    24% {
      @apply text-green-medium-spring-green;
      text-shadow: 0px 0px 10px #52FFB8;
    }
    25% {
      @apply text-gray-pale-silver;
      text-shadow: none;
    }
    26% {
      @apply text-green-medium-spring-green;
      text-shadow: 0px 0px 10px #52FFB8;
    }
    30% {
      @apply text-gray-battleship-grey;
      text-shadow: none;
    }
    48% {
      @apply text-gray-battleship-grey;
      text-shadow: none;
    }
    80% {
      @apply text-green-medium-spring-green;
      text-shadow: 0px 0px 10px #52FFB8;
    }
    100% {
      @apply text-green-medium-spring-green;
      text-shadow: 0px 0px 10px #52FFB8;
    }
  }

  .text-light-up-two {
    @apply text-gray-pale-silver;
    animation: light-up 4.2s forwards;
  }

  /* Revisit .section's responsive design */
  /* Section is for the section containers in the page */

  .section {
    @apply w-auto h-auto;
    @apply p-4;
    @apply sm:px-10 sm:py-6;
    @apply md:px-12 md:py-6;
    @apply lg:px-28 lg:py-8;
    @apply xl:px-36 xl:py-12;
    @apply 2xl:px-96 2xl:py-16;
  }

  .sub-header {
    @apply bg-gradient-to-r from-green-dark-jungle-green/95 to-green-brunswick-green p-2 lg:p-4 rounded-lg;
  }

  /* Revisit .card's responsive design */
  .card {
    @apply bg-green-brunswick-green drop-shadow-xl rounded-2xl;
  }

  /* Credit: https://codepen.io/dig-lopes/pen/WLVGda */
  .icon {
    @apply text-green-medium-spring-green;
    border-radius: 50%;
    transition: 0.5s;
  }

  .icon::before {
    @apply w-full h-full scale-90 bg-green-illuminating-emerald;
    content: "";
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
  }

  .icon:hover::before {
    @apply scale-125;
    box-shadow: 0 0 15px #40916c;
  }

  .icon:hover {
    @apply text-white-cultured;
    /* box-shadow: 0 0 5px #40916c; */
    text-shadow: 0 0 5px #40916c;
  }

  .fade-in-section {
    @apply opacity-0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.2s ease-out, transform 0.6s ease-out;
    will-change: opacity, visibility;
  }

  .fade-in-section.is-visible {
    @apply opacity-100 transform-none visible flex;
  }
  
  .show-header {
    @apply transition-all;
    transform-origin: 100% 0%;
    animation: open-header 0.5s normal forwards ease-in-out;
  }

  .hide-header {
    @apply transition-all;
    transform-origin: 100% 0%;
    animation: close-header 0.5s normal forwards ease-in-out;
  }

  @keyframes open-header {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }

  @keyframes close-header {
    from {
      transform: scaleY(1);
    }
    to {
      @apply hidden;
      transform: scaleY(0);
    }
  }
}

@layer utilities {
}
