@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-lg;
  }

  a {
  }
  a:hover {
  }
  html,
  body {
    @apply p-0 m-0 bg-keppel;
    scroll-behavior: smooth;
  }

  * {
    @apply box-border font-sans;
  }

  .pop-in {
    animation: pop-in 2000ms both cubic-bezier(0.61, -0.02, 0.83, 1.63);
  }

  .pop-in-secondary {
    animation: pop-in 3000ms both cubic-bezier(0.61, -0.02, 0.83, 1.63);
  }

  @keyframes pop-in {
    0% {
      transform: scale(0.6);
    }

    100% {
      transform: scale(1);
    }
  }

  .fade-in-text {
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
}

@layer components {
  .section {
    @apply w-auto h-auto p-10 sm:px-20 lg:px-80 sm:py-8 lg:py-24;
  }
  .header-links {
    @apply w-auto h-auto px-5 py-2 align-middle text-ocean-green motion-safe:animate-pulse hover:text-key-lime;
  }
  .next-button {
    @apply border-2 border-black bg-black px-5 py-2 text-ocean-green rounded-md hover:bg-yellow-green-crayola hover:text-black;
  }
}

@layer utilities {
}
